<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MSA-MUN | Executives</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/myCSS.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>
<body>
<!-- navbar starts ------------------------------------------------------------------------------------------------------------------------------------------------>
<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <div class="container-lg">
        <a class="navbar-brand display-1" href="#"><h1 class="">MSA-MUN</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-end ">
                <!-- navbar lists -->
                <li class="nav-item active">
                    <form action="home_click" method="GET">
                        <button class="btn" type="submit">
                            Home
                        </button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="prayer_click" method="GET">
                        <button class="btn" type="submit">
                            Prayer Times
                        </button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="contact_click" method="GET">
                        <button class="btn" type="submit">
                            Contacts
                        </button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="executives_click" method="GET">
                        <button class="btn" type="submit">
                            Executives
                        </button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form action="about_click" method="GET">
                        <button class="btn" type="submit">
                            About Us
                        </button>
                    </form>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"> </a>
                </li>
                <!-- navbar lists end -->

            </ul>
            <form action="donate_click" method="GET">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">DONATE</button>
            </form>
        </div>
    </div>
</nav>
<!-- navbar ends--------------------------------------------------------------------------------------------------------------------------------------------------->
<h1>This is executives page.</h1>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>

</body>
</html>